<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="23" android:versionName="1.6"
    package="com.blork.sowidget" xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:label="@string/app_name"
            android:launchMode="singleTop" android:name=".QuestionList" android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name"
            android:launchMode="singleTop"
            android:name=".FavouritesList" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:label="@string/app_name"
            android:name=".Settings" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <receiver android:name=".Widget" android:process=":remote">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@layout/widget_info"/>
        </receiver>
        <service android:enabled="true" android:name=".SoService"/>
        <provider
            android:authorities="com.blork.sowidget.provider.questionscontentprovider" android:name=".provider.QuestionsContentProvider"/>
    </application>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>
